[user]
  name = ¨Huu Khiem (Mark)¨
  email = tonghuukhiem@gmail.com

[core]
  repositoryformatversion = 0
  filemode = true
  bare = false
  logallrefupdates = true
  editor = vim
  whitespace = trailing-space
  excludesfile = ~/.gitignore

[merge]
  tool = vimdiff
  ff = false


[color]
  ui = true

[diff]
  tool = kidff3
[difftool]
  prompt = false

[push]
  default = simple

[alias]
  s = status
  cm = commit --message
  tree = log --graph --pretty=oneline --abbrev-commit --decorate
  adda = add --all
  resolve = mergetool
  dfa = diff -w
  dfs = diff --cached
  fetch = fetch -a
  ap = add --patch

# [url "git@github.com:"]
#   insteadOf = https://github.com/
