[user]
  name = "GIT_USER_NAME"
  email = "GIT_USER_EMAIL"

[core]
  repositoryformatversion = 0
  filemode = true
  bare = false
  logallrefupdates = true
  editor = vim
  whitespace = trailing-space
  excludesfile = ~/.gitignore

[merge]
  tool = vimdiff
  ff = false

[rebase]
  autosquash = true

[rerere]
  enabled = true

[color]
  ui = true

[diff]
  tool = kidff3
  colorMoved = default
  colorMovedWS = allow-indentation-change
[difftool]
  prompt = false

[push]
  default = simple

[alias]
  s = status
  cm = commit -v
  cma = commit -v --amend
  cmm = commit --message
  tree = log --graph --pretty=oneline --abbrev-commit --decorate --color=always
  forest = log --graph --branches=* --pretty=oneline --abbrev-commit --decorate --color=always
  adda = add --all
  resolve = mergetool
  dfa = diff -w --color=always
  dfs = diff --cached --color=always
  fetch = fetch -a
  ap = add --patch
  an = add --intent-to-add
  mg = merge --stat
  diffstat = diff --color --stat
  fixup = commit --fixup
  rbcont = rebase --continue
  rbabort = rebase --abort
  pusho = !git push -u origin $(git branch --show-current)

[url "git@github.com:"]
  insteadOf = https://github.com/

[url "git@github.ihs.demonware.net:"]
  insteadOf = https://github.ihs.demonware.net/
